<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Plat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    
    <ion-card *ngFor="let plat of plats">
      <ion-item>
        <ion-label slot="start">{{plat.nom}}</ion-label>
        <ion-label color="success">{{plat.prix}}</ion-label>
        <ion-buttons slot="end">
          <ion-button (click)="modifierPlat(plat.id)">
            <ion-icon name="pencil-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="delete(plat)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
   </ion-card>
  </ion-list>
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" routerLink="/tabs/tab2/ajouter">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
