<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
        Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-list>
      <ion-card *ngFor="let restaurant of restaurants">
          <ion-card-content>
            <ion-item  >
              <ion-label>{{restaurant.nomRestaurant}}</ion-label>
              <ion-icon name="create"  color="warning" (click)="modifierRestaurant(restaurant.id)"></ion-icon>
              <ion-icon name="trash" color="danger" (click)="deleteRestaurant(restaurant.id)"></ion-icon>
            </ion-item>
          </ion-card-content>
      </ion-card>
        
    </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
     <ion-fab-button routerLink="ajouter">
     <ion-icon name="add"></ion-icon> 
    </ion-fab-button> 
  </ion-fab>
</ion-content>
